* {
  font-family: Helvetica bold;
}

h1 {
  text-align: center;
  color: #0844a4;
}

.parent_1 {
  /* bg */
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* content */
  min-height: 100vh;
}

.parent_1:nth-child(1) {
  background-image: url(/img/img_1.jpg);

  display: flex;
  justify-content: center;
  align-items: center;
}

.block_1 {
  width: 40vw;
  height: 20vh;

  border: solid 3px #0844a4;
  text-align: center;
  color: #0844a4;
}

button {
  background-color: #0844a4;
  color: white;
  border: solid 1px black;
  border-radius: 3px;
}

#navlist li {
  display: inline;
  padding-right: 0.9em;
  padding-left: 0.9em;
  border-right: 1px solid #5c5e61;
}

#navlist li.last {
  border: none;
}
#navlist {
  text-align: right;
  font-weight: bold;
}
#navlist a {
  color: #0844a4;
  text-decoration: none;
}
#navlist a:hover {
  color: #39f;
  text-decoration: underline;
}

.About {
  padding: 20px 40px 40px;
}

.About_photo {
  margin: 30px 30px 30px 0;
  float: left;
}

.About_text {
  display: flex;
  justify-content: center;
}

.About_me {
  display: flex;
  padding-bottom: 50px;
}

.About_block {
  width: 30%;
  float: left;
}

.About_block h1 {
  display: inline-block;
}

.About_icon {
  display: inline-block;
}

.To_top a {
  display: flex;
  flex-direction: row-reverse;
  align-self: flex-end;
  text-decoration: none;
  font-size: x-large;
  font-weight: bold;
  padding-top: 10px;
}

.parent_2 {
  /* bg */
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* content */
  min-height: 100%;
}

.Experience h1 {
  padding-top: 90px;
}

.Experience_block {
  display: flex;
  flex-direction: row;
  justify-content: space-around
}

hr {
  justify-content:center ;
  width: 50%;
}

.Experience_blocks {
  border: 1px solid #5c5e61 ;
  width: 35%;
}

.Experience_panel {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

.Experience_CSS3 {
  text-align: center;
  height: auto;
  width: 64px;
  font-size: x-large;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 20% / 60%;
  background-color: blue;
}

.Experience_HTML5 {
  text-align: center;
  height: auto;
  width: 100px;
  font-size: x-large;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 20% / 60%;
  background-color: red;
}

.Experience_PHP {
  text-align: center;
  height: auto;
  width: 55px;
  font-size: x-large;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 20% / 60%;
  background-color: yellow;
}

.Experience_JS {
  text-align: center;
  height: auto;
  width: 40px;
  font-size: x-large;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 20% / 60%;
  background-color: green;
}

/* (A) PIE CHART */
.donut {
  /* (A1) CIRCLE */
 width: 300px;
 height: 300px;
 border-radius: 9999px;
 border: 2px solid black;
 background: conic-gradient(
  red 0%, red 40%,
  black 40%, black 40.3%,
  yellow 40%, yellow 50%,
  black 50%, black 50.3%,
  green 50%, green 70%,
  black 70%, black 70.3%,
  blue 70%, blue 99.7%,
  black 99.7%, black 100%
 );
}
/* (B) DONUT "CONVERSION" */
/* (B1) SMALLER CIRCLE */
.hole {
  width: 180px; height: 180px;
  border-radius: 50%;
  background: white;
  border: 2px solid black
}
 
/* (B2) "CONVERT PIE TO DONUT" - CENTER SMALLER CIRCLE */
.donut {
  display: flex;
  align-items: center;
  justify-content: center;
}