* {
    font-family: Helvetica bold
}

.parent {
    /* bg */
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* content */
    min-height: 100vh;
}

.parent:nth-child(1){
    background-image: url(/img/img_1.jpg);
    
    display: flex;
    justify-content: center;
    align-items: center;   
}

.block_1 {
    width: 40vw;
    height: 20vh;
    
    border: solid 3px #0844a4 ;
    text-align: center;
    color: #0844a4;
}

button {
    background-color: #0844a4;
    color: white;
    border: solid 1px black;
    border-radius: 3px;
}

#navlist li {
    display: inline;
    padding-right: 0.9em;
    padding-left: 0.9em;
    border-right: 1px solid #5c5e61;
}

#navlist li.last {
    border: none;
}
#navlist {
    text-align: right;
    font-weight: bold;
}
#navlist a {
    color: #0844a4;
    text-decoration: none;
}
#navlist a:hover {
    color: #39F;
    text-decoration: underline;
}