@import '../../style/variables.scss';

@import '../../style/mixins.scss';

.wrapper {
    background-image: url(../../assets/images/dot_2.png);
    background-repeat: no-repeat;
    background-position: right 50%;
}

.YearsOfSuccessful {
    &__number_img {
        height: 200px;
        width: 300px;
    }

    &__heading {
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        @include adaptive-font (50, 38);
        line-height: 130%;
        letter-spacing: 0.04em;
        color: $heading_color;
    }

    &__btn {
        font-family: 'Open Sans',sans-serif;
        width: 174px;
        height: 43px;
        background: $green_color;
        border-radius: 20px 0px;
        border: none;
        font-weight: 700;
        @include adaptive-font(18, 16);
        color: #FFFFFF;
    }

    &__img_right {
        position: relative;
        max-width: 679px;

        &::after {
            border: 2px solid $border_gold_color;
            content: '';
            position: absolute;
            display: block;
            width: 100%;
            height: 100%;
            top: 30px;
            left: 30px;
            border-radius: 140px 0;
            z-index: -1;
        }

        img {
            border-radius: 140px 0px;
        }
    }
}