@import '../../style/variables.scss';

@import '../../style/mixins.scss';

.what_we_do {
    font-family: 'Poppins', sans-serif;
    background-image: url(../../assets/images/dot_1.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    margin-bottom: 300px;

    &__subHeading {
        font-weight: 600;
        @include adaptive-font(20, 18);
        letter-spacing: -0.01em;
        color: $paragraph_color;
    }

    &__heading {
        font-weight: 500;
        @include adaptive-font(48, 30);
        color: $heading_color;
    }
}