* {
  font-family: Helvetica bold;
}

h1 {
  text-align: center;
  color: #0844a4;
}

p {
  color: #606060;
}

.parent_1 {
  /* bg */
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* content */
  min-height: 100vh;
}

.parent_1:nth-child(1) {
  background-image: url("/DZ1/img/img_1.jpg");

  display: flex;
  justify-content: center;
  align-items: center;
}

.block_1 {
  width: 60vw;
  height: 30vh;

  border: solid 3px #0844a4;
  text-align: center;
  color: #0844a4;
}

.block_1 button {
  background-color: #0844a4;
  color: white;
  border: solid 1px black;
  border-radius: 3px;
  width: 17vh;
  height: 8vh;
}

#navlist li {
  display: inline;
  padding-right: 0.9em;
  padding-left: 0.9em;
  border-right: 1px solid #5c5e61;
}

#navlist li.last {
  border: none;
}
#navlist {
  text-align: right;
  font-weight: bold;
}
#navlist a {
  color: #0844a4;
  text-decoration: none;
}
#navlist a:hover {
  color: #39f;
  text-decoration: underline;
}

.About {
  padding: 20px 40px 40px;
}

.About_photo {
  margin: 30px 30px 30px 0;
  float: left;
}

.About_text {
  display: flex;
  justify-content: center;
}

.About_me {
  display: flex;
  padding-bottom: 50px;
}

.About_block {
  width: 30%;
  float: left;
}

.About_block h1 {
  display: inline-block;
}

.About_icon {
  display: inline-block;
}

.To_top a {
  display: flex;
  flex-direction: row-reverse;
  align-self: flex-end;
  text-decoration: none;
  font-size: x-large;
  font-weight: bold;
  padding: 10px 30px 10px 0;
}

.parent_2 {
  /* bg */
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* content */
  min-height: 100%;
}

.Experience h1 {
  padding-top: 90px;
}

.Experience_block {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.Experience_block hr {
  align-content: center;
  width: 50%;
}

.Experience_blocks {
  border: 1px solid #5c5e61;
  width: 35%;
}

.Experience_panel {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

.Experience_CSS3 {
  text-align: center;
  height: auto;
  width: 64px;
  font-size: x-large;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 20% / 60%;
  background-color: blue;
  color: black;
}

.Experience_HTML5 {
  text-align: center;
  height: auto;
  width: 100px;
  font-size: x-large;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 20% / 60%;
  background-color: red;
  color: black;
}

.Experience_PHP {
  text-align: center;
  height: auto;
  width: 55px;
  font-size: x-large;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 20% / 60%;
  background-color: yellow;
  color: black;
}

.Experience_JS {
  text-align: center;
  height: auto;
  width: 40px;
  font-size: x-large;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 20% / 60%;
  background-color: green;
  color: black;
}

.donut {
  width: 300px;
  height: 300px;
  border-radius: 9999px;
  border: 2px solid black;
  background: conic-gradient(
    red 0%,
    red 40%,
    black 40%,
    black 40.3%,
    yellow 40%,
    yellow 50%,
    black 50%,
    black 50.3%,
    green 50%,
    green 70%,
    black 70%,
    black 70.3%,
    blue 70%,
    blue 99.7%,
    black 99.7%,
    black 100%
  );
}

.hole {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background: white;
  border: 2px solid black;
}

.donut {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Interests img {
  width: 300px;
  height: 150px;
}

.Interest {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.Interest_1_text {
  padding-right: 70px;
  width: 20%;
}

.Interest_2_text {
  padding-left: 70px;
  width: 20%;
}

.Get_in_touch_about_why {
  display: flex;
  justify-content: center;
}

.Get_in_touch p {
  width: 70%;
  align-content: center;
}

.Get_in_touch_form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 5vh;
}

.Get_in_touch_message {
  height: 10vh;
  width: 80%;
  margin-bottom: 2vh;
}

.Get_in_touch_email {
  height: 3vh;
  width: 30%;
  margin: 2vh;
}

.Get_in_touch_name {
  height: 3vh;
  width: 30%;
  margin: 2vh;
}

.Get_in_touch_button {
  height: 4vh;
  width: 16%;
  margin: 2vh;
  background-color: #0844a4;
  color: white;
  border: solid 1px black;
  border-radius: 2px;
}

.Get_in_touch hr {
  width: 20%;
  align-content: center;
}

.Get_in_touch ul {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 6vh;
  padding: 0;
  display: flex;
  justify-content: center;
}

.Get_in_touch ul li {
  list-style: none;
}

.Get_in_touch ul li a {
  position: relative;
  width: 60px;
  height: 60px;
  display: block;
  text-align: center;
  margin: 0 10px;
  border-radius: 50%;
  padding: 6px;
  box-sizing: border-box;
  text-decoration: none;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
  background: linear-gradient(0deg, #ddd, #fff);
  transition: 0.5s;
}

.Get_in_touch ul li a:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  text-decoration: none;
}

.Get_in_touch ul li a .fab {
  widht: 100%;
  height: 100%;
  display: block;
  background: linear-gradient(0deg, #fff, #ddd);
  border-radius: 50%;
  line-height: calc(60px - 12px);
  font-size: 24px;
  color: #262626;
  transition: 0.5s;
}

.Get_in_touch ul li:nth-child(1) a:hover .fab {
  color: #3b5998;
}

.Get_in_touch ul li:nth-child(2) a:hover .fab {
  color: #00aced;
}

.Get_in_touch ul li:nth-child(3) a:hover .fab {
  color: #dd4b39;
}

.Get_in_touch ul li:nth-child(4) a:hover .fab {
  color: #007bb6;
}

.Get_in_touch ul li:nth-child(5) a:hover .fab {
  color: #e4405f;
}

.Company_name_block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.Logo {
  width: 3vh;
  height: 3vh;
  margin: 2vh;
}

.Company_name_block p {
  width: 10%;
}
