@import '../../style/variables.scss';

@import '../../style/mixins.scss';

.custom_navbar {
    position: relative;

    &__nav {
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        font-size: 16px;

        &_item {
            color: $heading_color;
            border: 1px solid transparent;
            border-radius: 15px 0px;
            transition: color 0.3s ease, border 0.3s ease;

            &:hover {
                color: $green_color;
                border: 1px solid $border_gold_color;
                border-radius: 15px 0px;
            }

            span {
                color: $paragraph_color;

                &:hover {
                    color: $green_color;
                }
            }
        }

        &_button {
            width: 97px;
            height: 31px;
            background: $button_gold_color;
            border-radius: 15px 0px;
            border: none;
            color: $white_color;
        }
    }
}